<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student.androidshooter" >

    <!-- Include required permissions for Google Mobile Ads to run-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Calibrate"
            android:configChanges="orientation"
            android:label="@string/title_activity_calibrate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Instructions"
            android:configChanges="orientation"
            android:label="@string/title_activity_instructions"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_mainactivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity

            android:name=".Pause_menu"
            android:label="Pause_menu"
            android:configChanges="orientation"

            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameOver"
            android:configChanges="orientation"
            android:label="@string/title_activity_game_over"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Leaderboard"
            android:configChanges="orientation"
            android:label="@string/title_activity_leaderboard"
            android:screenOrientation="portrait">
        </activity>

        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
